<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}{{^title}}Raven{{/title}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bower_components/dapper/css/dapper.min.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="dapper">
			<header>Raven</header>
			{{#if message}}{{message}}{{/if}}
			{{{ body }}}
			<footer>Raven © 2016</footer>
		</div>
	</body>
</html>