<h2>Are you sure you want to deactivate your account, <u>{{user.username}}</u>?</h2>

<form action="/deactivate/{{user._id}}" method="post">
	<input type="submit" value="Yes">
</form>

<br>
<br>
<a href="/me">No, I'm alright, thanks.</a>
