<form action="/delete" method="post">
	<p>are you sure you want to delete <strong>{{user.username}}</strong>?</p>

	<input type="submit" value="Delete {{user.username}}"></a>

	<a href="/settings">go back</a>
</form>