<h4><a href="http://www.tnellen.com/cybereng/poetry/eatpoem.html">&ldquo;Don't be polite. Bite in.&rdquo;</a> – Eve Merriam</h4>

<form action="/" method="post">
	<input type="text" name="title" placeholder="My Poem">
	<textarea name="poem"></textarea>
	<input type="submit" value="Post"></input>
</form>

<a href="/me">your profile</a> | <a href="/settings">settings</a>