<div class="row">
	<div class="twelve columns">
		<form action="/" method="post">
			<input id="name" class="u-full-width" autofocus type="text" name="title" placeholder="My Poem">
			<textarea id="poem" class="u-full-width" name="poem"></textarea>
			<input type="submit" value="Post"></input>
		</form>
		<a href="/me">Profile</a> | <a href="/settings">Settings</a>
	</div>
</div>
