{{#groupeach 3 poems}}
<div class="row">
	{{#each this}}
	<div class="four columns full-height">
		<a class="cardlink" href="/poem/{{this._id}}">
			<div class="card">
				<h5>"{{this.title}}" - {{this.author.username}}</h5>
				<div class="fade">
					<p >{{this.preview}}</p>
				</div>
			</div>
		</a>
	</div>
	{{/each}}
</div>
{{/groupeach}}
