<h2>A network for poetry, all at your fingertips.</h2>
<p>
	Raven provides an easy to use network chalk full of
	poems you're bound to enjoy, as well as the option to
	post your own poetry to share with others.
</p>

<h2>Easy to read, easy to focus, easy to share</h2>
<p>
	Raven's simple yet clean design allows you to focus
	on the poems that matter to you and not worry about the
	clutter. The only thing you'll have to worry about is
	where you want to share the poem.
</p>
