<div id="post">
	<form action="/post" method="POST">
		<input id="name" autofocus type="text" name="title" placeholder="My Poem">
		<br>
		<textarea id="poem" class="u-full-width" name="poem"></textarea>
		<br>
		<input type="submit" value="Post"></input>
	</form>
</div>
