<h2>Register</h2>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="*****">

	<button type="submit">Register</button>
</form>

<p>or <a href="/login">login</a></p>
<p>or <a href="/">go home</a></p>