<div class="row block">
	<div class="twelve columns">
		<h2>Register</h2>
		<form action="/register" method="post">
			<input required autofocus type="text" name="username" placeholder="username">
			<input required type="password" name="password" placeholder="*****">

			<button type="submit">Register</button>
		</form>
		<p>or <a href="/login">login</a></p>
	</div>
</div>
