<form action="/settings" method="post">
	<p>logged in as <input type="text" value="{{user.username}}" name="username"></p>

	<label for="description">User description</label>
	<textarea name="description">{{user.description}}</textarea><br>

	<input type="submit" value="Save">
</form>

<p>created account {{time_ago}}</p>

<a href="/deactivate">delete your account</a>
