
<form action="/settings" method="post">
	<p>logged in as <input type="text" value="{{user.username}}" name="username"></p>

	<input type="submit" value="Save">
</form>

<p>created account {{user.created_at}}</p>

<a href="/logout">logout</a>