// Libre Bodoni
// Crimson

body {
	padding: 2em;

	.content {
		text-align: center;
		padding: 10px;
		margin: 2em 5em 2em 5em;
	}

	.card {
		border: 1px solid black;
	}

	h1, h2, h3 {
		font-family: "Libre Bodoni", serif;
	}

	p, a, footer {
		font-family: "Crimson", serif;
		white-space: pre-wrap;
	}

	a {
		color: inherit;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}

	input[type=text], input[type=password], textarea {
		padding: 1em;
		border-radius: 5px;
		border: 1px solid #AAAAAA;
		font-size: 0.7em;
		outline: none;
		&:focus { border: 1px solid black; }
	}

	input[type=submit], input[type=button], button {
		background: black;
		border-radius: 5px;
		color: white;
		outline: none;
		font-family: inherit;
		border: 1px solid black;
		font-size: 1.2em;
		&:hover {
			background-color: white;
			color: black;
		}
	}

	#post {
		input[type=text] {
			font-size: 0.9em;
			margin: 10px;
		}

		textarea {
			font-size: 1.2em;
			width: 60%;
			height: 20vh;
		}
	}

	nav {
		ul {
			list-style-type: none;
			padding: 0;

			.signup, .options {
				margin-left: 70%;
				font-size: 1.3em;
			}

			img { width: 5em; height: 4em; }
			li { display: inline; margin: 5px; }
		}
	}
}
