/* nothing yet */
html { margin: 30px; }
body { padding: 30px; }
a { color: inherit; }
header { font-size: 30px; margin-bottom: 20px; }
input[type=text], input[type=password] {
	margin: 5px;
	font-size: 20px;
	outline: none;
}
textarea {
	border-radius: 5px;
	width: 100%; max-width: 100%;
	height: 30vh;
	outline: none;
	padding: 5px;
	font-size: 20px;
	font-family: inherit;
}