body {
  padding: 2em; }
  body .content {
    text-align: center;
    padding: 10px;
    margin: 2em 5em 2em 5em; }
  body .card {
    border: 1px solid black; }
  body h1, body h2, body h3 {
    font-family: "Libre Bodoni", serif; }
  body p, body a, body footer {
    font-family: "Crimson", serif;
    white-space: pre-wrap; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body input[type=text], body input[type=password], body textarea {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    font-size: 0.7em;
    outline: none; }
    body input[type=text]:focus, body input[type=password]:focus, body textarea:focus {
      border: 1px solid black; }
  body input[type=submit], body input[type=button], body button {
    background: black;
    border-radius: 5px;
    color: white;
    outline: none;
    font-family: inherit;
    border: 1px solid black;
    font-size: 1.2em; }
    body input[type=submit]:hover, body input[type=button]:hover, body button:hover {
      background-color: white;
      color: black; }
  body #post input[type=text] {
    font-size: 0.9em;
    margin: 10px; }
  body #post textarea {
    font-size: 1.2em;
    width: 60%;
    height: 20vh; }
  body nav ul {
    list-style-type: none;
    padding: 0; }
    body nav ul .signup, body nav ul .options {
      margin-left: 70%;
      font-size: 1.3em; }
    body nav ul img {
      width: 5em;
      height: 4em; }
    body nav ul li {
      display: inline;
      margin: 5px; }
